.navbar {
    background-color: rgb(26, 96, 202);
    width: 100%;
    height: 60px;
    position: fixed;
    margin: 0;
}

.logo {
    display: flex;
    padding: 20px;
    font-family:'Times New Roman', Times, serif
}